.donate__form {
  display: flex;
  justify-content: center;
  margin: 0 auto 50px;
  padding: 20px;
  width: 80%;
  max-height: 400px;
  min-width: 100px;
  background-color: lightgray;
  z-index: 1;
}
