.MuiAppBar-colorSecondary {
  color: #ffffff;
  background-color: #008c8c;
}

.MuiAppBar-positionFixed {
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
}

.MuiAppBar-root {
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
}

.MuiPaper-elevation4 {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.MuiPaper-root {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}

.MuiToolbar-regular {
  min-height: 56px;
}

.MuiToolbar-gutters {
  padding-left: 20px;
  padding-right: 20px;
}
.MuiToolbar-root {
  display: flex;
  position: relative;
  align-items: center;
}

.MuiGrid-align-items-xs-center {
  align-items: center;
}

.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.MuiGrid-grid-xs-8 {
  flex-grow: 0;
  max-width: 66.666667%;
  flex-basis: 66.666667%;
}

.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
}

.jss27 {
  display: flex;
  align-items: center;
  line-height: 20px;
}

a {
  text-decoration: none;
  outline: none;
  color: #444;
}

.jss503 {
  padding: 30px 15px 10px;
  margin-top: 56px;
}

.MuiStepper-alternativeLabel {
  align-items: flex-start;
}
.MuiStepper-horizontal {
  align-items: center;
  flex-direction: row;
}

.MuiStepper-root {
  display: flex;
  padding: 24px;
}

.MuiPaper-elevation0 {
  box-shadow: none;
}

.MuiPaper-root {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}

.MuiStep-alternativeLabel {
  flex: 1;
  position: relative;
}

.MuiStep-horizontal {
  padding-left: 8px;
  padding-right: 8px;
}

.MuiStepLabel-root.MuiStepLabel-alternativeLabel {
  flex-direction: column;
}

.MuiStepLabel-root {
  display: flex;
  align-items: center;
}

.MuiStepLabel-iconContainer.MuiStepLabel-alternativeLabel {
  padding-right: 0;
}

.MuiStepLabel-iconContainer {
  display: flex;
  flex-shrink: 0;
  padding-right: 8px;
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: #ff5050;
}

.MuiStepIcon-root.MuiStepIcon-active,
.MuiStepIcon-root.MuiStepIcon-completed {
  color: #008c8c !important;
}

.MuiStepIcon-root {
  color: rgba(0, 0, 0, 0.38);
  display: block;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.MuiStepIcon-root {
  color: #ddd !important;
}
svg:not(:root) {
  overflow: hidden;
}

:not(svg) {
  transform-origin: 0px 0px;
}

.MuiStepIcon-text {
  fill: #ffffff;
  font-size: 0.75rem;
  font-family: Nunito Sans;
}

text {
  display: block;
  white-space: nowrap;
}

.jss4362 {
  top: 10px;
  left: calc(-50% + 12px);
  right: calc(50% + 12px);
}

.MuiStepConnector-alternativeLabel {
  top: 12px;
  left: calc(-50% + 20px);
  right: calc(50% + 20px);
  position: absolute;
}
.MuiStepConnector-root {
  flex: 1 1 auto;
}

.jss4365 {
  border: 0;
  height: 3px;
  border-radius: 1px;
  background-color: #dddddd;
}

.MuiStepConnector-lineHorizontal {
  border-top-style: solid;
  border-top-width: 1px;
}

.MuiStepConnector-line {
  display: block;
  border-color: #bdbdbd;
}

.MuiStepLabel-root.Mui-disabled {
  cursor: default;
}

.MuiStepLabel-root.MuiStepLabel-alternativeLabel {
  flex-direction: column;
}

.MuiStepLabel-root {
  display: flex;
  align-items: center;
}

.MuiStepLabel-iconContainer.MuiStepLabel-alternativeLabel {
  padding-right: 0;
}

.MuiStepLabel-iconContainer {
  display: flex;
  flex-shrink: 0;
  padding-right: 8px;
}

.MuiStepIcon-root {
  color: rgba(0, 0, 0, 0.38);
  display: block;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.MuiStepIcon-root {
  color: #ddd !important;
}

@media (min-width: 600px) {
  .MuiToolbar-regular {
    min-height: 64px;
  }
}
@media (min-width: 0px) and (orientation: landscape) {
  .MuiToolbar-regular {
    min-height: 48px;
  }
}

@media (min-width: 600px) {
  .MuiToolbar-gutters {
    padding-left: 30px;
    padding-right: 30px;
  }
}
